body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 340px;
    height: 360px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */

    border: 2px solid lightgray;
    border-radius: 5px;
    width: 55px;
    height: 50px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard {
    max-width: 100%;
    width: 95%;
    margin-inline: auto;
    margin-top: 1rem;
    margin-left: 3.2rem;
}




.keyboard-row {
    width: 390px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 30px;
    height: 35px;
    margin: 2px;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: #CCCCFF;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Akey-tile {
    width: 30px;
    height: 35px;
    margin: 2px;
    margin-left: 20px;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: #CCCCFF;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 62px;
    height: 35px;
    margin: 2px;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: #2471A3;

    /* Text */
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

#mod{
    display: none;
    position: fixed;
    background-color: #2471A3;
    height: 100 px;
    width: 150px;
    justify-content: center;
    margin-left: 43%;
    margin-top: 10%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(207, 205, 205);
    z-index: 2;

}
.not{
    width: 3px;
    height: 35px;
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(255, 255, 255);
   

}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}
.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}
@media (max-width: 768px) {
    #keyboard {
        margin-top: 2rem;
        margin-left: 1rem;
    }
    #board{
        margin-left: 2rem;
    }
    #mod{
        margin-left:   26%;
        margin-top: 35%;
    }
}

@media (min-width: 786px) and (max-width: 1240px){
    #keyboard {
        margin-top: 3rem;
        margin-left: 2.5rem;
    }
}